@import url('"https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap"');
#uppericon {
    width: 90px;
    height: 90px;
}

.cap {
    color: red;
    text-align: center;
    font-family: 'Annie Use Your Telescope', cursive;
}

h1 {
    font-size: 70px;
}

.explanation {
    
    font-size: 57px;
}

body {
    max-width: 900px;
    margin: auto;
}
html {
    background-image: url('images/background-icon.PNG');
}
#emblem {
    width:180px;
    height:180px;
}

nav{
    font-family: 'Helvetica';
    font-style: italic;
    text-align: center;
    text-decoration: none;
}
nav span a {
color: black;
font-weight: bold;
font-size: 35px;
margin: 15px;
}
nav span a:hover {
    color:royalblue;
}

h2 {
    color: red;
    text-align: center;
    font-family: 'Annie Use Your Telescope', cursive;
}

article {
    font-size: 25px;
    margin: 10%;
}
.reference {
    margin: 5%;
    color: lightskyblue;
}
.reference:hover {
    color: royalblue;
}

.caption {
    color: red;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 25px;
    font-weight: bold;
}

form {
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 25%;
}

.graph {
    border: 1px solid grey;
    height: 590px;
    width: 590px;
    background-color: white;
}
.uppertab {
    display: inline-block;
    border: 1px solid black;
    background-color: yellow;
    border-radius: 10px/50%;
}
span.uppertab a {
    text-decoration: none;
}
body, article, header {
    background-color: lightgreen;
}
header {
    border: 0;
    background-color: lightgreen;
}
.reference {
    margin-bottom: 10px;
    margin-top: 0;
}