@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap");
html {
    background-image: url('../images/background-icon.PNG');
}
body {
    max-width: 900px;
    margin: auto;
    text-shadow: rgb(0, 255, 21) 1px 0 10px;
}
nav{
    font-family: 'Helvetica';
    font-style: italic;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
nav span {
    text-shadow: rgb(0, 255, 21) 1px 0 10px;
    margin-left: 15px;
}
nav img{
    margin-bottom: 15px;
    margin-left: 15px;
}
nav span a {
    color: black;
    font-weight: bold;
    font-size: 35px;
    margin: 15px;
}
nav span a:hover {
    color:royalblue;
}
article {
    font-size: 25px;
    margin: 10%;
}
article p,div {
    text-shadow: 1px 0 10px darkorange;
}
article div {
    font-weight: bold;
}
h1 {
    font-size: 95px;
    margin-bottom: 0;
}
#uppericon {
    width: 90px;
    height: 90px;
}

.cap {
    color: red;
    text-align: center;
    font-family: 'Annie Use Your Telescope', cursive;
}

.explanation {
    margin-top: 0;
    font-size: 57px;
    font-weight: bold;
}
#emblem {
    width:180px;
    height:180px;
}

h2 {
    color: red;
    text-align: center;
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: bold;
    font-size: 57px;
}
.reference {
    margin: 5%;
    color: lightskyblue;
}
.reference:hover {
    color: royalblue;
}

.caption {
    color: red;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 25px;
    font-weight: bold;
}

form {
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 25%;
}

.graph {
    border: 1px solid grey;
    height: 100%;
    width: 80%;
    background-color: white;
    margin-right: 25px;
}
.uppertab {
    display: inline-block;
    border: 1px solid black;
    background-color: yellow;
    border-radius: 10px/50%;
    margin: 11px;
}
span.uppertab a {
    text-decoration: none;
}
.lable_of_ {
    display: inline-block;
    margin-top: 15px;
}
.randomButton {
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
}
.number_value, .degree_value, .input_field input, .output_field input {
    width: 65px;
}
@media (min-width: 500px) {
        nav img {
        display: flex;
        justify-content: space-around;
        }
        nav span {
            display: flex;
            justify-content: space-around;
        }
        .graph {
            border: 1px solid grey;
            height: 590px;
            width: 590px;
            background-color: white;
            margin-right: 25px;
        }
}